<div class="login-container">
  <mat-card>
    <h1>Iniciar Sesión</h1>

    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <div class="botones">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Entrar
        </button>
      </div>
    </form>

    <div class="registro-link">
      ¿No tienes cuenta? 
      <a routerLink="/auth/registro">Regístrate aquí</a>
    </div>

  </mat-card>
</div>
