<h1>Gestionar Empresas</h1>

<button mat-raised-button color="primary" (click)="mostrarFormulario = true">
  Añadir Empresa
</button>

<div *ngIf="mostrarFormulario" class="empresa-form">
  <h2 *ngIf="!empresaEditando">Nueva Empresa</h2>
  <h2 *ngIf="empresaEditando">Editando Empresa: {{ empresaEditando.nombre }}</h2>
  <mat-form-field appearance="outline">
    <mat-label>Nombre Comercial</mat-label>
    <input matInput [(ngModel)]="nuevaEmpresa.nombre">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Correo</mat-label>
    <input matInput [(ngModel)]="nuevaEmpresa.correo">
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="crearEmpresa()">
    Guardar
  </button>
  <button mat-button color="warn" (click)="cancelarFormulario()">
    Cancelar
  </button>
</div>

<table mat-table [dataSource]="empresas" class="mat-elevation-z8 full-width-table">

  <!-- Nombre -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let empresa"> {{empresa.nombre}} </td>
  </ng-container>

  <!-- Correo -->
  <ng-container matColumnDef="correo">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let empresa"> {{empresa.correo}} </td>
  </ng-container>

  <!-- Acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let empresa">
      <button mat-icon-button color="primary" (click)="editarEmpresa(empresa)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="eliminarEmpresa(empresa.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['nombre', 'correo', 'acciones']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['nombre', 'correo', 'acciones'];"></tr>
</table>
