<h2>Postularse a la Vacante</h2>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Nombre</mat-label>
  <input matInput [(ngModel)]="nombre" name="nombre">
</mat-form-field>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Email</mat-label>
  <input matInput [(ngModel)]="email" name="email">
</mat-form-field>

<div class="full-width">
  <label for="fileInput">Adjuntar CV:</label>
  <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx">
</div>

<div class="form-buttons">
  <button mat-raised-button color="accent" (click)="enviarPostulacion()">
    Enviar Postulación
  </button>
  <button mat-button color="warn" (click)="cancelar()">
    Cancelar
  </button>
</div>
