<mat-toolbar color="primary">
  <span class="app-title">Sistema de Vacantes</span>
  <span class="spacer"></span>

  <ng-container *ngIf="authService.isLoggedIn$ | async">
    <!-- Empresa -->
    <button *ngIf="authService.getRole() === 'empresa'" mat-button routerLink="/empresa/vacantes">
      Vacantes Empresa
    </button>

    <!-- Admin -->
    <button *ngIf="authService.getRole() === 'admin'" mat-button routerLink="/admin/gestionar-usuarios">
      Gestionar Usuarios
    </button>

    <button *ngIf="authService.getRole() === 'admin'" mat-button routerLink="/admin/gestionar-empresas">
      Gestionar Empresas
    </button>

    <button *ngIf="authService.getRole() === 'admin'" mat-button routerLink="/admin/gestionar-categorias">
      Gestionar Categorías
    </button>

    <!-- Logout -->
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
