:host {
  display: block;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.titulo-pagina {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.card-vacante {
  margin-bottom: 2rem;
}

.contenido-vacante p {
  margin: 0.5rem 0;
}

.acciones-vacante {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.contenido-vacante {
  text-align: center;
}

mat-card-title {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
}


.subtitulo {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tabla-solicitudes {
  overflow-x: auto;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.mat-elevation-z8 {
  width: 100%;
}

.boton-volver {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

button {
  min-width: 140px;
}
