<h1>Mis Vacantes</h1>

<div class="boton-container">
  <button mat-raised-button color="primary" routerLink="/empresa/publicar-vacante">
    Publicar nueva vacante
  </button>
</div>

<table mat-table [dataSource]="vacantes" class="mat-elevation-z8 full-width-table">

  <!-- Título -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let vacante"> {{vacante.titulo}} </td>
  </ng-container>

  <!-- Ubicación -->
  <ng-container matColumnDef="ubicacion">
    <th mat-header-cell *matHeaderCellDef> Ubicación </th>
    <td mat-cell *matCellDef="let vacante"> {{vacante.ubicacion}} </td>
  </ng-container>

  <!-- Categoría -->
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef> Categoría </th>
    <td mat-cell *matCellDef="let vacante"> {{vacante.categoria}} </td>
  </ng-container>

  <!-- Acciones -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let vacante">
      <button mat-icon-button color="warn" (click)="eliminarVacante(vacante.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['titulo', 'ubicacion', 'categoria', 'acciones']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['titulo', 'ubicacion', 'categoria', 'acciones'];"></tr>
</table>