<h1>Mis Vacantes</h1>

<div class="boton-container">
  <button mat-raised-button color="primary" routerLink="/empresa/publicar-vacante">
    Publicar nueva vacante
  </button>
</div>

<table mat-table [dataSource]="vacantes" class="mat-elevation-z8 full-width-table">

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let vacante"> {{ vacante.nombre }} </td>
  </ng-container>

  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef> Categoría </th>
    <td mat-cell *matCellDef="let vacante"> {{ vacante.categoria?.nombre || 'Sin categoría' }} </td>
  </ng-container>

  <ng-container matColumnDef="estatus">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let vacante"> {{ vacante.estatus }} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let vacante">
      <button mat-icon-button color="primary" [routerLink]="['/empresa/vacante', vacante.idVacante]">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="cancelarVacante(vacante.idVacante)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['nombre', 'categoria', 'estatus', 'acciones']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['nombre', 'categoria', 'estatus', 'acciones'];"></tr>
</table>
